version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "05:00"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: org.spigotmc:spigot-api
